body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

.dino{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:10px;
}

.colors{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(120px,1fr));
gap:10px;
margin-top:10px;
}

.color{
background:#334155;
padding:10px;
border-radius:6px;
}

img{
width:100px;
border-radius:6px;
}

button{
margin:3px;
}